- render :partial => "subject_inner_menu"

%h2= @subject.name
%p
  Rok akademicki:
  = @subject.academic_year
%p
  Semestr:
  = @subject.semester

%p= link_to "Zmień dane", edit_admin_subject_path(@subject)

%h3 Terminy zajęć

%table
  %thead
    %tr
      %th Typ
      %th Dzień tygodnia
      %th Godzina
      %th Sala
      %th Działania
  %tbody
    - @subject.hours.each do |h|
      %tr
        %td= h.genre_str
        %td= h.week_day
        %td
          = h.start.strftime("%H:%M")
          \-
          = h.end.strftime("%H:%M")
        %td= h.room
        %td
          = link_to "usuń", admin_subject_hour_path(h.subject, h), :confirm => "Czy na pewno usunąć?", :method => :delete
          = link_to "edytuj", edit_admin_subject_hour_path(h.subject, h)

%p= link_to "Dodaj termin", new_admin_subject_hour_path(@subject)