= render :partial => "admin/contact/left_menu"

%h3 Konsultacje

%table.admin_table#konsultacje_table
  %thead
    %tr
      %th#dzien Dzień tygodnia
      %th#godziny Godziny
      %th#uwagi Uwagi
      %th#akcje Działania
  %tbody
    - @consultations.each do |c|
      %tr
        %td= c.day
        %td
          = c.start.strftime("%H:%M")
          \-
          = c.end.strftime("%H:%M")
        %td
          - if c.comments.nil? || c.comments.empty?
            \---
          - else
            = c.comments
        %td
          = link_to "edytuj", edit_admin_consultation_path(c)
          = link_to "usuń", admin_consultation_path(c), :confirm => "Czy na pewno usunąć?", :method => :delete

%h3 Dodaj nowe konsultacje

- form_for [:admin, @consult] do |f|
  = render :partial => "consult_form", :locals => { :f => f, :consult => @consult }
  %p= f.submit "Dodaj"