= render :partial => "/admin/event_types/left_menu"

%h2 Plan zajęć

%p= link_to "Dodaj nowe wydarzenie/zajęcia", new_admin_timetable_event_path

%table#timetable.admin_table
  %thead
    %tr
      %th#hours Godz
      %th Poniedziałek
      %th Wtorek
      %th Środa
      %th Czwartek
      %th Piątek
      %th Sobota
      %th Niedziela
  %tbody
    %tr
      %td#hours_td
        - for i in 7..21
          %div.hour= i.to_s + ":00"
      - @timetable.events_for_all_days.each do |e|
        %td
          %div.timetable_column
            - e.each do |evt|
              %div.event{ :style => "height: " + evt.height_pixels + "; top: " + evt.pixels_from_top, :class => evt.event_type.event_type_color.css_class, :title => evt.description }
                %p.title
                  = link_to evt.title, edit_admin_timetable_event_path(evt), :title => "Edytuj wydarzenie"
                  %span.actions
                    = link_to "x", admin_timetable_event_path(evt), :confirm => "Czy na pewno usunąć?", :method => :delete, :class => "remove"
                %p.time
                  = evt.start.strftime("%H:%M")
                  \-
                  = evt.end.strftime("%H:%M")