- if evt_type.errors.any?
  %div.errors
    %ul
      - evt_type.errors.full_messages.each do |e|
        %li= e
%p
  = f.label :name, "Nazwa"
  = f.text_field :name
%p
  = f.label :event_type_color_id, "Kolor"
%div#choose_color
  - EventTypeColor.all.each do |etc|
    %div.color
      = f.label :event_type_color_id, etc.name, { :value => etc.id, :class => etc.css_class }
      = f.radio_button :event_type_color_id, etc.id