- render :partial => "/left_menu", :locals => { :subjects => @subjects }

%h2 Plan zajęć

%ul#timetable_legend
  - @timetable.event_types_with_default.each do |et|
    %li{ :class => et.event_type_color.css_class }= et.name

%table#timetable.spis_table
  %thead
    %tr
      %th#hours Godz
      %th Poniedziałek
      %th Wtorek
      %th Środa
      %th Czwartek
      %th Piątek
      %th Sobota
      %th Niedziela
  %tbody
    %tr
      %td#hours_td
        - for i in 7..21
          %div.hour= i.to_s + ":00"
      - @timetable.events_for_all_days.each do |e|
        %td
          %div.timetable_column
            - e.each do |evt|
              %div.event{ :style => "height: " + evt.height_pixels + "; top: " + evt.pixels_from_top, :class => evt.event_type.event_type_color.css_class, :title => evt.description }
                %p.title{ :title => evt.title }= evt.title
                %p.time
                  = evt.start.strftime("%H:%M")
                  \-
                  = evt.end.strftime("%H:%M")
                %p.description= truncate(evt.description, :length => 20)