- render :partial => "/left_menu", :locals => { :subjects => @subjects }

%h2= @subject.name

%h3 Terminy zajęć

%table.spis_table
  %thead
    %tr
      %th Typ
      %th Dzień tygodnia
      %th Godzina
      %th Sala
  %tbody
    - @subject.hours.each do |h|
      %tr
        %td= h.genre_str
        %td= h.week_day
        %td
          = h.start.strftime("%H:%M")
          \-
          = h.end.strftime("%H:%M")
        %td= h.room

%h3 Listy zadań

%ul
  - @subject.exercises_lists.each do |ex|
    %li
      %p
        = link_to "Lista " + ex.nr.to_s, ex.url
        %span{:style => "font-style: italic;"}
          Termin oddania:
          = ex.deadline
      %p{:style => "font-size: 11px"}= ex.comment


%h3 Wykłady

%h3 Materiały