- render :partial => "/left_menu", :locals => { :subjects => @subjects }

%h2= @subject.name

%h3 Terminy zajęć

%table.spis_table
  %thead
    %tr
      %th Typ
      %th Dzień tygodnia
      %th Godzina
      %th Sala
  %tbody
    - @subject.hours.each do |h|
      %tr
        %td= h.genre_str
        %td= h.week_day
        %td
          = h.start.strftime("%H:%M")
          \-
          = h.end.strftime("%H:%M")
        %td= h.room

%h3 Listy zadań

%ul#listy_zadan_list
  - @subject.exercises_lists.each do |ex|
    %li
      %p.lista_name
        = link_to "Lista " + ex.nr.to_s, ex.url
        %span.lista_deadline
          Termin oddania:
          = ex.deadline
      %p.lista_comment= ex.comment


%h3 Wykłady

%ul#wyklady_list
  - @subject.lectures.each do |lec|
    %li
      %p.wyklad_title
        = lec.nr.to_s + ")"
        = lec.title
        %span.wyklad_date= lec.date

      %div.wyklad_abstract= lec.abstract

      %ul
        - lec.lecture_resources.each do |res|
          %li
            = link_to res.name, res.url
            = res.description

%h3 Materiały