%h3 Lista pracowników

%table
  %thead
    %tr
      %th Imię i nazwisko
      %th Adres e-mail
      %th Pokój
      %th Strona
  %tbody
    - @teachers.each do |t|
      - p = t.profile
      %tr
        %td
          = p.degree
          = p.name
        %td= t.email
        %td= p.room_nr
        %td= link_to "więcej", teacher_contact_path(t)
