- render :partial => "admin/subjects/subject_inner_menu"

%h2
  Wykład:
  = @lecture.nr.to_s + ")"
  = @lecture.title

%p= link_to "edytuj wykład", edit_admin_subject_lecture_path(@lecture.subject, @lecture)

%p
  Data wykładu:
  = @lecture.date

%div= @lecture.abstract

