= render :partial => "left_menu"


- form_for [:admin, @profile], :url => admin_contact_update_path do |f|
  %p
    = f.label :name, "Imię i nazwisko"
    = f.text_field :name

  %p
    = f.label :degree, "Stopień naukowy"
    = f.select :degree, [["mgr", "mgr"], ["mgr inż.", "mgr inż."], ["dr", "dr"], ["dr hab.", "dr hab."], ["prof.", "prof."]]

  %p
    = f.label :room_nr, "Nr pokoju"
    = f.text_field :room_nr

  %p
    = f.label :phone, "Telefon"
    = f.text_field :phone

  %p= f.submit "Zatwierdź"


- if @profile.fb_profile_id.nil?
  %p=link_to "Połącz z Facebookiem", :admin_contact_fb