- render :partial => "local_menu"

%h2 Publikacje

%table.admin_table#publikacje_table
  %thead
    %tr
      %th Współautorzy
      %th Tytuł
      %th Rok
      %th Odnośnik
      %th Akcje
  %tbody
    - @publications.each do |p|
      %tr
        %td= p.co_authors
        %td= p.title
        %td= p.year
        %td= p.link
        %td
          = link_to "usuń", admin_publication_path(p), :confirm => "Czy na pewno usunąć?", :method => :delete

%h3 Dodaj nową publikację

- form_for [:admin, @pub] do |f|
  %p
    = f.label :co_authors, "Współautorzy"
    = f.text_field :co_authors, :size => 60
  %p
    = f.label :title, "Tytuł"
    = f.text_field :title, :size => 80
  %p
    = f.label :year, "Rok"
    = f.select :year, [[2000], [2001], [2002], [2003], [2004], [2006], [2007], [2008], [2009], [2010], [2011]]
  %p
    = f.label :link, "Link"
    = f.text_field :link, :size => 60

  %p= f.submit "Dodaj"