- render :partial => "local_menu"

%h2 Publikacje

%table.admin_table#publikacje_table
  %thead
    %tr
      %th Współautorzy
      %th Tytuł
      %th Rok
      %th Odnośnik
      %th Akcje
  %tbody
    - @publications.each do |p|
      %tr
        %td= p.co_authors
        %td= p.title
        %td= p.year
        %td= link_to p.link, p.link
        %td
          = link_to "edytuj", edit_admin_publication_path(p)
          = link_to "usuń", admin_publication_path(p), :confirm => "Czy na pewno usunąć?", :method => :delete

%h3 Dodaj nową publikację

- form_for [:admin, @pub] do |f|
  = render :partial => "publications_form", :locals => { :f => f }
  %p= f.submit "Dodaj"